/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* variables */
:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

/* General style */
* {
    /* border: 1px solid red; */
    /* background-color: rgba(0, 0, 0, 0.2); */
    box-sizing: border-box; /* full height window */
    margin: 0; /* full height window */
    padding: 0; /* full height window */
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
}
body, html {
    font-family: 'Poppins', sans-serif;
    height: 100% /* full height window */
}
button {
    background-color: var(--color-primary);
    color: white;
    cursor: pointer;
}
input {
    background-color: var(--color-info-light);
}

/* Container style */
.container {
    background-color: var(--color-background);
    height: 100%; /* full height window */
    /* grid container */
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}
.container div {
    font-size: 1.1rem;
}

/* Sidebar style */
.sidebar {
    background-color: var(--color-background); /* testing */
    padding: 10px;
    /* grid item */
    grid-row: 1 / -1;
    grid-column: 1;
    /* grid container */
    display: grid;
    grid-template-rows: 150px 1fr 1fr 3fr;
}
.sidebar .sidebar-title {
    /* grid item */
    grid-row: 1;
    align-self: center;
}
/* Sidebar lists */
.sidebar > :nth-child(2) {
    /* grid item */
    grid-row: 2;
    align-self: start;
}
.sidebar > :nth-child(3) {
    /* grid item */
    grid-row: 3;
    align-self: start;
}
.logout {
    /* grid item */
    grid-row: 4;
    align-self: end;
}
.sidebar-list ul {
    padding: 15px 10px 15px 0;
}
.sidebar-list ul li {
    padding: 10px 0 10px 10px;
}
.sidebar-list ul li i {
    padding-right: 5px;
}


.header {
    background-color: var(--color-background); /* testing */
    grid-row: 1;
    grid-column: 2 / -1;
    /* grid container */
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1.5fr;
}
/* Searchbar style */
.header .searchbar {
    padding: 15px;
    padding-left: 50px;
    font-size: 20px;
    /* flex container */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header .searchbar input {
    margin-left: 10px;
    padding: 5px 15px;
    width: min(900px, 80%);
    height: 35px;
    border-radius: 30px;
    font-size: 16px;
}
/* Profile style */
.header .profile {
    text-align: center;
    /* grid container */
    display: grid;
    grid-template-columns:1fr 1fr 2fr;
    place-content: center;
}
.profile :nth-child(1) {
    place-self: center;
    /* padding-left: 50px; */
    
}
.profile :nth-child(2) {
    justify-self: start;
    align-self: center;
}
.profile :nth-child(3) {
    align-self: center;
    justify-self: start;
}
.fit {
    border-radius: 100%;
    object-fit: cover;
    /* grid item */
    place-content: center;
}
.profile .fit {
    height: 50px;
    width: 50px;
}
.profile-title {
    padding: 10px;
    /* grid container */
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(2, 1fr);
}
/* profile title */
.profile-title .fit {
    height: 90px;
    width: 90px;
    /* grid item */
    grid-row: 1 / -1;
    justify-self: center;
}
.profile-title p {
    margin-bottom: 5px;
}
.profile-title :nth-child(2) {
    /* grid item */
    grid-column: 2;
    align-self: end;
}
.profile-title :nth-child(3) {
    /* grid item */
    grid-column: 2;
    grid-row: 2;
    align-self: start;
}
/* buttons section */
.header-buttons {
    /* grid container */
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}
.header-buttons .profile-buttons {
    padding-right: 3rem;
    /* grid item */
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: end;
}
.profile-buttons button {
    padding: 10px 15px;
    border-radius: 35px;
    border: none;
}

.main {
    background-color: var(--color-background); /* testing */
    grid-row: 2 / -1;
    grid-column: 2 / -1;
    /* grid container */
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
}
.main div {
    padding: 15px;
}
.main .main-content-section {
    background-color: var(--color-background);
    grid-column: 1;
    grid-row: 1 / -1;
}
.main .panel-one {
    grid-column: 2;
    grid-row: 1;
}
.main .panel-two {
    grid-column: 2;
    grid-row: 2;
}
.main .main-content-section {
    /* grid container */
    display: grid;
    grid-template-rows: 7fr 1fr 7fr;
}
.cards-section {
    /* grid container */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 270px;
    gap: 35px;
}
.card {
    background-color: white;
    box-shadow: var(--box-shadow);
    border-radius: var(--card-border-radius);
}

