
* {
    border: 1px solid red;
    box-sizing: border-box; /* full height window */
    margin: 0; /* full height window */
    padding: 0; /* full height window */
}
body, html {
    height: 100% /* full height window */
}

.container {
    background-color: aliceblue;
    height: 100%; /* full height window */
    /* grid container */
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}
.container div {
    background-color: white;
}

.sidebar {
    grid-row: 1 / -1;
    grid-column: 1;
}

.header {
    grid-row: 1;
    grid-column: 2 / -1;
}
.main {
    grid-row: 2 / -1;
    grid-column: 2 / -1;
}

